<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#"> <i class="fa fa-stethoscope" aria-hidden="true"></i> HealthConnect</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item btn">
                    <a class="nav-link"
                       [routerLink]="'/doctor/doc-home'"
                       routerLinkActive="active">
                        <i class="bi bi-house-door-fill"></i> Home
                    </a>
                </li>
                <li class="nav-item btn">
                    <a class="nav-link"
                       [routerLink]="'/doctor/appointments'"
                       routerLinkActive="active">
                        <i class="fa fa-calendar-check"></i> View Appointments
                    </a>
                </li>
                <li class="nav-item btn">
                    <a class="nav-link" [routerLink]="'/doctor/patient-records'" routerLinkActive="active">
                        <i class="fa fa-user-md"></i> Patient History
                    </a>
                </li>
                <li class="nav-item btn">
                    <a class="nav-link" [routerLink]="'/doctor/doc-dashboard'" routerLinkActive="active">
                        <i class="fa fa-tachometer-alt"></i> DashBoard
                    </a>
                </li>
                <li class="nav-item btn btn-danger ">
                    <a class="nav-link"href="#" data-bs-toggle="modal" data-bs-target="#logoutModal"(click)="confirmLogout()">
                        <i class="fa fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="custom-modal-overlay" *ngIf="showLogoutPopup">
  <div class="custom-modal text-center p-4 rounded-3">
    <h5 class="mb-3" style="color: black;">Are you sure you want to log out?</h5>
    <div class="modal-buttons d-flex justify-content-center gap-3">
      <button class="btn btn-warning" (click)="logout()">Yes</button>
      <button class="btn btn-secondary" (click)="cancelLogout()">No</button>
    </div>
  </div>
</div>
