<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="fa fa-stethoscope" aria-hidden="true"></i> HealthConnect
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item btn">
                    <a class="nav-link" href="/patient/appoint-history">
                        <i class="fa fa-history" aria-hidden="true"></i> Appointment History
                    </a>
                </li>
                <li class="nav-item btn">
                    <a class="nav-link" href="/patient/health-record">
                        <i class="fa fa-file-medical" aria-hidden="true"></i> View Health Record
                    </a>
                </li>
                <li class="nav-item btn">
                    <a class="nav-link" href="/patient/pat-dashboard">
                        <i class="fa fa-tachometer-alt" aria-hidden="true"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item btn">
                    <a class="nav-link text-danger" (click)="logout()">
                        <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
