<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="card p-4 shadow-lg" style="max-width: 500px; margin: 0 auto;">
    <h2 class="text-center mb-4">Patient Signup</h2>
    <div *ngIf="alertMessage" class="alert" [ngClass]="alertClass" role="alert">
      {{ alertMessage }}
    </div>
    <form [formGroup]='form' (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Full Name<span class="text-danger">*</span></label>
        <input class="form-control" id="name" placeholder="Enter your full name" formControlName="fullName" required>
        <div *ngIf="form.controls['fullName'].touched && form.controls['fullName'].invalid" class="text-danger small">
          Full name is required.
        </div>
      </div>
      <div class="mb-3">
        <label for="emailSignup" class="form-label">Email<span class="text-danger">*</span></label>
        <input class="form-control" id="emailSignup" placeholder="Enter your email" formControlName="email" required>
        <div *ngIf="form.controls['email'].touched && form.controls['email'].errors" class="text-danger small">
          <div *ngIf="form.controls['email'].errors['required']">Email is required.</div>
          <div *ngIf="form.controls['email'].errors['email']">Please enter a valid email address.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="passwordSignup" class="form-label">Password<span class="text-danger">*</span>(minimum lenth -
          6)</label>
        <input type="password" class="form-control" id="passwordSignup" placeholder="Create a password"
          formControlName="password" required>
          <div *ngIf="form.controls['password'].touched && form.controls['password'].errors" class="text-danger small">
          <div *ngIf="form.controls['password'].errors['required']">Password is required.</div>
          <div *ngIf="form.controls['password'].errors['minlength']">Password must be at least 6 characters.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password<span class="text-danger">*</span></label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password"
          formControlName="confirmPassword" required>
          <div *ngIf="form.controls['confirmPassword'].touched && form.controls['confirmPassword'].errors" class="text-danger small">
          <div *ngIf="form.controls['confirmPassword'].errors['required']">Confirm password is required.</div>
          <div *ngIf="form.controls['confirmPassword'].errors['minlength']">Must be at least 6 characters.</div>
        </div>

        <!-- Password Match Error -->
        <div *ngIf="form.touched && passwordMismatch" class="text-danger small">
          Passwords do not match.
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100"> <i class="bi bi-person-plus me-1"></i> Sign Up</button>
      <div class="text-center mt-3">
        <span class="small">Already have an account?</span>
        <a routerLink="/auth/pat-login" class="fw-semibold text-decoration-none ms-1 mt-1">Login here</a>

      </div>
    </form>
  </div>
</div>