<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="learn.png" style="width: 40vh;" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Hello {{UserName}}</h1>
        <p class="lead">Manege Your health record and make Appointments easily </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/make-appointment" class="btn btn-primary btn-lg px-4 me-md-2">Make Appointment</a>
          <a href=""class="btn btn-outline-secondary btn-lg px-4">Manage Health Record</a>
          
        </div>
      </div>
    </div>
  </div>






<!-- 
<div id="home" class="ccontainer text-center d-flex flex-column justify-content-center min-vh-100">
    <h1 class="fw-bold">Hello {{ UserName }} Welcome to HealthConnect</h1>
    <p class="lead">Your one-stop solution for managing health records and appointments with ease.</p>
    <div class="row mt-4">
        <div class="col-md-6">
            <a href="#" class="btn btn-outline-primary btn-lg">Manege Your health documents</a>
            <a href="#" class="btn btn-outline-primary btn-lg">Make Appoitment with our doctors</a>
        </div>
    </div>
    <div>
        <img src="../../../assets/images/doctor-woman-400px.png" alt="dochome">
    </div>
</div> -->