<app-patient-navbar></app-patient-navbar> 

<div class="container-fluid">
    <div class="row">
        <aside class="col-md-3 col-lg-2 d-md-block sidebar custom-sidebar">
            <app-sidebar (menuClick)="changeComponent($event)"></app-sidebar>
        </aside>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content">

            <app-basic-details *ngIf="activeComponent === 'basic-details'"></app-basic-details>
            <app-medical-history *ngIf="activeComponent === 'medical-history'"></app-medical-history>
            <app-medications *ngIf="activeComponent === 'medications'"></app-medications>
            <app-lab-reports *ngIf="activeComponent === 'lab-reports'"></app-lab-reports>
            <app-hospitalization *ngIf="activeComponent === 'hospitalization'"></app-hospitalization>

        </main>
    </div>
</div>